<div class="logo_box">
  <%= image_tag 'logo_img.jpg', class: :logo_img %>
</div>
<div class="archive">
  <h2>ログ倉庫</h2>
  <ul>
  <li><%= link_to "第一回", index1_results_path,  class: :page %></li>
  <li><%= link_to "第二回", index2_results_path,  class: :page %></li>
</div>