<div class="basic">
    <h2>ゲスト採点者</h2>
    <ul>
      <li>ハシリドコロ</li>
      <li>Hs</li>
      <li>林原よしき</li>
      <li>神谷テクニカ</li>
      <li>余馬</li>
      <li>エコノミー</li>
      <li>木曜屋</li>
    </ul>
</div>
<div class="archive">
  <h2>お題</h2>
  <ul>
    <li><%= link_to "お題①", page1_1_results_path, class: :page %></li>
    <li><%= link_to "お題②", page1_2_results_path, class: :page %></li>
  </ul>
</div>
<div class="archive">
  <h2>ツイキャス</h2>
  <%= link_to "大喜利登竜門 録画", "https://twitcasting.tv/tokedai_sub/movie/729120697", class: :page %>
</div>
<div class="archive">
  <h2>振り返り記事など</h2>
  <ul>
    <li><%= link_to "大喜利登竜門感想 | ハシリドコロ | note", "https://note.com/14hashiridokoro/n/n0010848609b8", class: :page %></li>
  </ul>
</div>