<div class="basic">
    <h2>ゲスト採点者</h2>
    <ul>
      <li>エコノミー</li>
      <li>ドクローネ</li>
      <li>ンゴ</li>
      <li>臭い紅茶</li>
      <li>骨密度</li>
      <li>watao</li>
    </ul>
</div>
<div class="archive">
  <h2>お題</h2>
  <ul>
    <li><%= link_to "お題①", page2_1_results_path, class: :page %></li>
    <li><%= link_to "お題②", page2_2_results_path, class: :page %></li>
  </ul>
</div>
<div class="archive">
  <h2>ツイキャス</h2>
  <%= link_to "【第二回 大喜利登竜門】", "https://twitcasting.tv/tokedai_sub/movie/731008170", class: :page %>
</div>
<div class="archive">
  <h2>振り返り記事など</h2>
  <ul>
    <li><%= link_to "第二回大喜利登竜門 いち回答者の感想・思考｜qmqq｜note", "https://note.com/qmqq/n/nab65447157c0", class: :page %></li>
  </ul>
</div>
